# Putting it all together

## Learning Objectives

* Retrieve a subset of records from a table using a WHERE clause
* Filter results using conditional operators
* Apply an aggregate function to the result of a filtered query
* Order the results of your queries by using ORDER BY (ASC & DESC)
* Limit the number of records returned by a query using LIMIT
* Write SQL queries to filter and order results
* Describe the relationship between aggregate functions and GROUP BY statements
* Use Group BY statements in SQL to apply aggregate functions

## Part I: Filtering Data with SQL

In [ ]:
# CodeGrade step0

# Run this cell without changes

import pandas as pd
import sqlite3

# Create the connection
# Note the connect is 'conn1' since there will be multiple .db used
conn1 = sqlite3.connect('planets.db')

The database contains a single table, 'planets' that will be used for filtering data with SQL.

This is the schema:


```
CREATE TABLE planets (
  id INTEGER PRIMARY KEY,
  name TEXT,
  color TEXT,
  num_of_moons INTEGER,
  mass REAL,
  rings BOOLEAN
);
```

The data looks like this:

In [ ]:
# Run without changes

pd.read_sql("""
SELECT *
  FROM planets;
""", conn1)

   id     name       color  num_of_moons    mass  rings
0   1  Mercury        gray             0    0.55      0
1   2    Venus      yellow             0    0.82      0
2   3    Earth        blue             1    1.00      0
3   4     Mars         red             2    0.11      0
4   5  Jupiter      orange            68  317.90      0
5   6   Saturn       hazel            62   95.19      1
6   7   Uranus  light blue            27   14.54      1
7   8  Neptune   dark blue            14   17.15      1

### Step 1
Select just the name and color of each planet.

In [ ]:
# CodeGrade step1
# Replace None with your code
df_planets = None

### Step 2
Select all columns for each planet whose 'num_of_moons' is 0.

In [ ]:
# CodeGrade step2
# Replace None with your code
df_no_moons = None

### Step 3
Select the name and mass of each planet whose name has exactly 7 letters

In [ ]:
# CodeGrade step3
# Replace None with your code
df_name_seven = None

### Step 4

Select the name and mass of each planet whose mass is less than or equal to 1.00

In [ ]:
# CodeGrade step4
# Replace None with your code
df_mass = None

### Step 5

Select all columns for planets that have at least one moon and a mass less than 1.00

In [ ]:
# CodeGrade step5
# Replace None with your code
df_mass_moon = None

### Step 6

Select the name and color of planets that have a color containing the string "blue"

In [ ]:
# CodeGrade step6
# Replace None with your code
df_blue = None

### Step 7

Select the name of all planets, along with a new columns, has_rings, that returns "Yes" if the planet does have rings, and "No" if it does not

In [ ]:
# CodeGrade step1
# Replace None with your code
df_has_rings = None

## Part II: Ordering and Limiting Data with SQL

This database has some fictional, yet generally famous, dogs.

In [ ]:
# CodeGrade step0

# Run this cell without changes

# Create a connection
# Note the connect is 'conn2' since they will be multiple .db used
conn2 = sqlite3.connect('dogs.db')

# Select all
pd.read_sql("SELECT * FROM dogs;", conn2)

### Step 8
Select the name and breed for all female dogs

In [ ]:
# CodeGrade step8
# Replace None with your code
df_female = None

### Step 9

Select the number of dogs that do not have a name

In [ ]:
# CodeGrade step9
# Replace None with your code
df_num_dogs = None

### Step 10
Select the name of all dogs that contain the double letters ff or oo

HINT: Use LIKE, %, and OR

In [ ]:
# CodeGrade step10
# Replace None with your code
df_names_double = None

### Step 11
Select the name and breed of only the hungry dogs and list them from youngest to oldest.

In [ ]:
# CodeGrade step11
# Replace None with your code
df_hungry = None

### Step 12
Select the name, age, and hungry columns for hungry dogs between the ages of two and seven. This query should also list these dogs in alphabetical order.

In [ ]:
# CodeGrade step12
# Replace None with your code
df_hungry_ages = None

## Part III

In this part, we'll query data from a table populated with Babe Ruth's career hitting statistics. Then we'll use aggregate functions to pull interesting information from the table that basic queries cannot track.

In [ ]:
# CodeGrade step0

# Run this cell without changes

# Create a connection
# Note the connect is 'conn3' since they will be multiple .db used
conn3 = sqlite3.connect('babe_ruth.db')

The table that will be used is 'babe_ruth_stats', with the following schema:



```
CREATE TABLE babe_ruth_stats (
  id INTEGER PRIMARY KEY,
  year INTEGER,
  team TEXT,
  league TEXT,
  doubles INTEGER,
  triples INTEGER,
  hits INTEGER,
  HR INTEGER,
  games INTEGER,
  runs INTEGER,
  RBI INTEGER,
  at_bats INTEGER,
  BB INTEGER,
  SB INTEGER,
  SO INTEGER,
  AVG REAL
)
```

Let's look at the table.

In [ ]:
# Run this cell without changes

pd.read_sql("""
SELECT *
  FROM babe_ruth_stats;
""", conn3)

### Step 13

Return the total number of years that Babe Ruth played professional baseball

In [ ]:
# CodeGrade step13
# Replace None with your code
df_ruth_years = None

### Step 14


Return the total number of years Babe Ruth played with the NY Yankees (i.e. where the team value is "NY").

In [ ]:
# CodeGrade step14
# Replace None with your code
df_yankees = None

### Step 15

Return the row with the most HR that Babe Ruth hit in one season.

In [ ]:
# CodeGrade step15
# Replace None with your code
df_hr_high = None

### Step 16

Select the row with the least number of HR hit in one season.

In [ ]:
# CodeGrade step16
# Replace None with your code
df_hr_low = None

### Step 17

Return the total number of HR hit by Babe Ruth during his career.

In [ ]:
# CodeGrade step17
# Replace None with your code
df_hr_total = None

### Step 18

Above you saw that Babe Ruth hit 0 home runs in his first year when he played only five games. To avoid this and other extreme outliers, first filter the data to include only those years in which Ruth played in at least 100 games. Then, select all of the columns for the 5 worst seasons, in terms of the number of home runs, where he played over 100 games.

In other words, find the five worst HR seasons with at least 100 games played

In [ ]:
# CodeGrade step19
# Replace None with your code
df_hr_100_games = None

### Step 19

We want to know the years in which Ruth successfully reached base over 300 times. We need to add hits and BB to calculate how many times Ruth reached base. Simply add the two columns together (ie: SELECT [columnName] + [columnName] AS ...) and give this value an alias of on_base. Select the year and on_base for only those years with an on_base over 300.

In other words, we want the number of years where Ruth was on base over 300 times.

In [ ]:
# CodeGrade step19
# Replace None with your code
df_onbase = None

### Step 20

Select the name of the teams and the average at bats per season (as average_at_bats) where the 'average_at_bats' was over 100.

In [ ]:
# CodeGrade step20
# Replace None with your code
df_at_bats = None

#### Close the connections

In [ ]:
# Run this cell without changes

conn1.close()
conn2.close()
conn3.close()